<div class="Scroller">
    <div class="wrap">
        <div class="pseudoScroll">
            <div 
                class="track" 
                ref="track"
            >
                <div 
                    class="caret" 
                    :class="caretClass"
                    ref="caret"
                    @pointerdown.stop="pointerdownHandler"
                ></div>
            </div>
        </div>

        <div class="contentSignals" ref="signals">
            <div class="wrapperSignals" ref="wrapSignals">
                <div 
                    v-for="(signal, index) in arrSignals"
                    class="instrument"
                    :class="{hovered: index === indexHovered}"
                >
                    <span class="title">{{ signal.title }}</span>
                    <img class="image" :src="require(`../../images/${signal.part}.svg`)" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
