.SliderItem
    width 90%
    height 100%
    display inline-flex
    justify-content center
    align-items center
    background #F0F9FF
    padding: 8px
    font-size 75px
    font-weight 700
    border 1px solid #ddd
    box-shadow 0 0 8px rgba(0,0,0,.1)
    border-radius 8px
    overflow hidden
    transform-style preserve-3d
    position absolute
    left 0
    top 0

    &:not(:first-child)
        will-change: transform
        transition transform var(--time) ease-in-out
        transition-delay var(--time)

    .imageContainer
        width 100%
        height 100%
        border-radius 8px
        border 1px solid #ddd

.fade-enter,
.fade-leave-to
    opacity 0

.fade-enter-active,
.fade-leave-active
    transition: opacity 0.5s ease

.fade-enter-to,
.fade-leave
    opacity 1
