.Slider
    flex-grow 1
    min-height 100%
    position relative
    perspective: 900px;

    .slideElement
        width 90%
        height 100%
        display: flex
        justify-content: center
        align-items: center
        background: #fff
        font-size: 75px
        font-weight: 700
        border: 1px solid #F2F2F2;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        border-radius: 16px;
        position: absolute
        left 0
        top 0
        transform-style: preserve-3d;

        &:nth-child(1)
            transform: translate3d(0, 0, 0)
            z-index 7
        &:nth-child(2)
            transform: translate3d(7%, 0, -100px)
            z-index 6
        &:nth-child(3)
            transform: translate3d(14%, 0, -200px)
            z-index 5
        &:nth-child(4)
            transform: translate3d(21%, 0, -300px)
            z-index 4
        &:nth-child(5)
            transform: translate3d(28%, 0,-400px)
            z-index 3
        &:nth-child(6)
            transform: translate3d(35%, 0, -500px)
            z-index 2
        &:nth-child(7)
            transform: translate3d(42%, 0, -600px)
            z-index 1

    button
        width 50px
        height 150px
        background: linear-gradient(180deg, #719CFF 0%, #2A60DC 100%)
        position: absolute
        right 20px
        top 50%
        transform: translateY(-50%)
        outline 0
        border 0
        color #fff
        font-size 20px
        cursor pointer
        z-index 10
   