<div class="Slider" :style="rootStyle">
    <transition-group
        name="list"
        :css="false"
        class="animate"
        tag="div"
        @before-enter="beforeEnter"
        @enter="enter"
        @leave="leave"
    >
        <SliderItem
            v-for="(count, index) in slidersArr"
            :key="count"
            :index="index"
            :count="count"
            :lengthArr="slidersArr.length"
        />
    </transition-group>

    <button @click="nextSlide">></button>
</div>
