<div class="Slider" :style="rootStyle">
    <transition name="fade" appear mode="out-in">
        <div 
            v-if="slidersArr.length > 0"
            class="groupSlider" 
            :key="partSliders"
        >
            <transition-group
                name="list"
                :css="false"
                class="animate"
                tag="div"
                @before-enter="beforeEnter"
                @enter="enter"
                @leave="leave"
            >
                <SliderItem
                    v-for="(src, index) in slidersArr"
                    :key="src"
                    :index="index"
                    :src="src"
                    :lengthArr="slidersArr.length"
                    :nextSlide="nextSlide"
                />
            </transition-group>
        </div>
    </transition>

    <img 
        class="buttonImg" 
        alt=""
        :src="require('../../images/arrow-right.svg')" 
        @click="nextSlide" 
    />
</div>
